// Section: Slider
.slider {
  position: relative;
  margin-bottom: 106px;
  z-index: 1;

  // Image
  .slide {
    border-radius: var(--radius-large);
    aspect-ratio: 16/7;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  // Caption
  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;

    .text {
      // border-radius: var(--radius-large);
      background-color: var(--background-backdrop-invert);

      .title {
        font-size: var(--font-size-hero);
        font-weight: lighter;
        text-transform: uppercase;
        // color: var(--color-primary);
        color: #fff;
        color: var(--color-primary);
        position: relative;
      }

      // .title::after {
      //   content: "";
      //   background-color: var(--color-primary);
      //   inset: 0;
      //   position: absolute;
      //   z-index: -1;
      //   opacity: 0.5;
      // }

      .sub-title {
        font-size: var(--font-size-title);
      }
    }
  }
  // Statistic
  .stats {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(50%);

    .stats-card {
      border-radius: var(--radius-large);
      background-color: var(--color-white);
      aspect-ratio: 300/187;
      width: 260px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: var(--box-shadow-primary);

      .value {
        font-size: var(--font-size-heading);
      }
    }
  }
}
