.sectionTitle {
  width: 100%;
  justify-content: center;
  display: flex;

  .inner {
    max-width: 600px;
    text-align: center;

    .title {
      font-size: var(--font-size-title);
      text-align: center;
    }
  }
}
