.cardSlider {
  width: 100%;
  position: relative;

  .navigation {
    .btn-next,
    .btn-prev {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
    .btn-prev {
      left: 0;
    }

    .btn-next {
      right: 0;
    }
  }

  .content {
    padding: 10px;
    margin: 0 -10px;
    overflow-x: hidden;

    .slider-track {
      gap: 15px;
      transition: transform 0.3s ease;

      .card {
        width: 10px;
        flex: 0 0 calc((100% - 30px) / 3);
        box-shadow: var(--box-shadow-secondary);
      }
    }
  }
}
